.entitiesList {
  width: 15%;
  height: 96%;
  display: block;
  position: absolute;
  top: 2%;
  left: 11.5%;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 10px;
}

.entitiesList::-webkit-scrollbar {
  width: 0.4em;
}

.entitiesList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(255,255,255,0.9);
}

.entityCard {
  margin: 0 0 15px 0;
  padding: 0 5px 0 5px;
  border: 1px rgba(255,255,255,1) solid;
  border-bottom: 1px rgba(255,255,255,0.05) solid;
  cursor: pointer;
}

.entityCard:hover {
  border: 1px rgba(255,255,255,0.3) solid;
}

.entityCard h1{
  margin: 0;
  font-size: 3.2em;
  line-height: 0.6em;
  color: rgba(255,255,255,0.1)
}

.entityCard h1:hover{
  color: rgba(255,255,255,1)
}

.entityCard p{
  margin: 0;
  font-size: 10px;
  line-height: 9px;
  color: rgba(255,255,255,0.99)
}

.entityCard p:hover{
  background: rgba(255,255,255,0.88);
  color: rgba(0,0,0,0.99)
}