/**
 * styles.css
 *
 * App container styles
 */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200);

.container {
  font-family: "Source Code Pro";
}

::selection {
  background: #ff4d09;
}

p::selection {
  background: #00ffb9;
}